video,
canvas {
   position: absolute;
   top: 0;
   width:1280px;
   height:720px;
   left:1280px;
   display:block;
}

body.playMode video,
body.playMode canvas {
    left:0;
    display:block;
}

#dropzone {
    display: flex;
    border: 10px dashed #ccc;
    width: 240px;
    min-height: 240px;
    margin: 200px auto;
    padding:40px;
    text-align:center;
    font-size:32px;
    color:#ccc;
    font-family:helvetica, sans-serif;
    align-items: center;
    justify-content: center;
}

#dropzone.hover {
    border: 10px dashed #0c0;
    color:#0c0;
}

body.playMode #dropzone {
    display:none;
}